# Assign Code Owners to the entire repository

- @Chakravarthy-E @sreenath-chadive @Sarath-Kumar-G

# Owners for specific directories

src/ @Chakravarthy-E @sreenath-chadive

docs/ @sreenath-chadive @Sarath-Kumar-G
